In [14]:
import pandas as pd 
from sklearn.datasets import load_iris
iris = load_iris()
dir(iris)
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt

In [15]:
df = pd.DataFrame(iris.data,iris.target,columns=iris.feature_names)

In [16]:
df

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                 5.1               3.5                1.4               0.2
0                 4.9               3.0                1.4               0.2
0                 4.7               3.2                1.3               0.2
0                 4.6               3.1                1.5               0.2
0                 5.0               3.6                1.4               0.2
..                ...               ...                ...               ...
2                 6.7               3.0                5.2               2.3
2                 6.3               2.5                5.0               1.9
2                 6.5               3.0                5.2               2.0
2                 6.2               3.4                5.4               2.3
2                 5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
df['target'] = iris.target

In [18]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
0,4.9,3.0,1.4,0.2,0
0,4.7,3.2,1.3,0.2,0
0,4.6,3.1,1.5,0.2,0
0,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
2,6.7,3.0,5.2,2.3,2
2,6.3,2.5,5.0,1.9,2
2,6.5,3.0,5.2,2.0,2
2,6.2,3.4,5.4,2.3,2
2,5.9,3.0,5.1,1.8,2

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test = train_test_split(df.drop('target',axis='columns'),df.target,train_size=0.8)

In [19]:
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)

In [21]:
#from sklearn.model_selection import StratifiedKFold
#folds = StratifiedKFold(n_splits=3)

#scores_logistic = []
#scores_svm = []
#scores_rf = []

#for train_index, test_index in folds.split(digits.data,digits.target):
#    X_train, X_test, y_train, y_test = digits.data[train_index], digits.data[test_index], \
#                                     digits.target[train_index], digits.target[test_index]
#    scores_logistic.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))  
#    scores_svm.append(get_score(SVC(gamma='auto'), X_train, X_test, y_train, y_test))
#    scores_rf.append(get_score(RandomForestClassifier(n_estimators=40), X_train, X_test, y_train, y_test))

In [22]:
from sklearn.model_selection import cross_val_score

In [44]:
Lscore = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), iris.data, iris.target,cv=3)
np.average(Lscore)

0.9533333333333333

In [45]:
Sscore = cross_val_score(SVC(gamma='auto'), iris.data, iris.target,cv=3)
np.average(Sscore)

0.9733333333333333

In [66]:
Rscore = cross_val_score(RandomForestClassifier(n_estimators=40),iris.data, iris.target,cv=3)
np.average(Rscore)

0.9666666666666667

In [62]:
from sklearn.tree import DecisionTreeClassifier
d_scores = cross_val_score(DecisionTreeClassifier(), iris.data, iris.target,cv=3)
np.average(d_scores)

0.9666666666666667